[2017-05-20 21:11] therufa opened #1 "Am I in trouble?"

[2017-06-05 10:59] #1 closed

[2017-07-11 22:40] robcresswell opened #2 "The generated components have a "view-box" attribute, which should be "viewBox""
As in the title, the attribute added to the generated components appears to be incorrect.

[2017-07-11 22:42] robcresswell opened #3 "Documentation on the component name would be very much appreciated"
It took me a little while to realise that icons with multiple names, like "checkbox-blank-circle-outline", are expected to be input as mdi-checkboxblankcircleoutline-icon. As far as I can see, this isn't really documented anywhere (sorry if I missed it!)

It'd be great to see this documented, to save others time as well.

[2017-07-13 06:45] robcresswell commented on #2
Specifically, this like is wrong, I think: https://github.com/therufa/mdi-vue/blob/c4e57ad3c7c4c69d3cd59417054969fea8d2a0ee/build.tpl#L4

It should be "viewBox" instead of "view-box". If you load this in a browser and change them, you'll see the icon change size as the viewBox takes effect.

[2017-07-15 10:46] therufa commented on #2
Thank you for your time. ill evaluate this and get back to it.

[2017-07-15 15:57] therufa commented on #3
@robcresswell you are absolutely right the behaviour you mentioned is wrong. do you have any suggestions according the documentation?

[2017-07-15 20:05] robcresswell commented on #3
I think it would just be good to update the README with an example that includes a multiple word icon, and also a small note underneath that explains the behaviour :)

[2017-07-15 20:07] robcresswell commented on #2
Thanks so much! You can see more about it here: https://developer.mozilla.org/en/docs/Web/SVG/Attribute/viewBox

It'd be great to see this fixed, because it makes it very difficult to properly scale these icons otherwise.

[2017-07-15 20:25] therufa commented on #2
@robcresswell i believe this is fixed now. i just published the fix a few minutes ago. i hope it will work fine

[2017-07-15 21:00] #2 closed

[2017-07-15 21:21] therufa commented on #3
@robcresswell i extended the README. Would you mind to look over it? would be cool

[2017-07-16 08:20] robcresswell commented on #3
Looks really good to me. The icons are correctly now rendered as mdi-<kebab-case-name>-icon, and the documentation clearly shows this too. Great work!

[2017-07-16 14:04] therufa commented on #3
@robcresswell thank you! Thanks for your contribution too

[2017-07-16 14:04] #3 closed

[2017-07-20 13:26] robcresswell opened #4 "Feature suggestion: named exports instead of default"
Hey, I had another idea which would clean up the usage of this lib a bit. Currently, when you want to use several icons, its a full line per icon; it gets fairly verbose quite quickly. Have you given any thought to altering the structure so that instead of having an export per file, you have multiple named exports in one file?

Then instead of:

[code]

You could have:

[code]

This would also wor

[2017-07-21 07:58] therufa commented on #4
@robcresswell thanks for your input on this issue. Its a very interesting question because of the size of the library. At the moment we sit on roughly 8-9 Mb of icon components when the entire lib is compiled. I have no idea how these preloaders work, but i think they could do the trick, sadly i had no time to try out these things. Maybe this weekend.

I'm open to any input on this topic by the wa

[2017-07-21 08:10] robcresswell commented on #4
I honestly have no idea either; my hope would that the entire module isn't included (as you note, that would be way too big). This is really all just me thinking out loud though, so please don't use up your weekend or other spare time on my count, as the library works perfectly well as it is. If you do spend some time experimenting, I'd love to see what comes out of it.

[2017-12-16 09:02] yegow opened #5 "Hey, been trying to use your components for over an hour now.. It keeps breaking my code, plus the example you gave still breaks and outputs nothing.. Anything I'm doing wrong?"

[2017-12-16 22:31] therufa commented on #5
@yegow hi, thanks for your remark. The issue has been fixed, i hope you can continue with your work.

So just update to 0.2.11 and you should be on track again. The faulty version has been removed

[2017-12-16 22:31] #5 closed

[2018-01-17 23:32] Dor-Ron opened #6 "Won't work with runtime only build of vue"
Since icons are .js and not .vue files

[2018-01-18 05:53] therufa commented on #6
Thanks for the remark, i'm going to look into this issue ASAP.

[2018-01-30 13:05] #4 closed

[2018-04-21 20:47] logiclabs commented on #6
Any news on this?  I've just attempted to use the library but instead of the icons it's rendering:
[code]
I think the templates need pre-compiling before packaging i.e. https://vuejs.org/v2/guide/deployment.html#Pre-Compiling-Templates

[2018-07-25 06:02] linusg commented on #6
Still having the same problem...

[2018-07-25 10:13] linusg commented on #6
I used https://gitlab.com/robcresswell/vue-material-design-icons as a perfectly working alternative.

[2018-08-31 14:24] DDeBruler opened #7 "Throws warnings for width/height props with units"
Both the [width](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/width#svg) and [height](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/height#svg) attributes of `<svg>` elements can properly be specified as [length](https://developer.mozilla.org/en-US/docs/Web/SVG/Content_type#Length) or [percentage](https://developer.mozilla.org/en-US/docs/Web/SVG/Content_type#Percentage)

[2018-10-06 08:27] therufa commented on #7
This should be fixed with the new release. Thanks for your efforts!

[2018-10-06 08:27] #7 closed

[2019-01-16 08:12] dcapeletti opened #11 "How to specify the size of the icon"
Hello, I would like to know if there is the possibility to specify the size of the icon as it is too small.

Thanks

[2019-01-16 08:14] dcapeletti commented on #11
Solved... :)

[2019-01-16 08:14] #11 closed

[2019-02-23 10:19] leep0o commented on #6
https://github.com/Justineo/vue-awesome

[2019-02-23 13:45] linusg commented on #6
@leep0o do you realize this project is about **Material Design Icons**? The link you've posted states (emphasis mine):

[2019-02-23 13:47] leep0o commented on #6
I suggested an alternative!

[2019-03-26 16:59] alejandroiglesias commented on #6
After a year this is still happening. Cannot use it.

[2019-06-28 12:21] gorkamolero opened #16 "Missing icons?"
For example color_lens

[2019-07-01 03:51] therufa commented on #16
@gorkamolero it might be that the lib is not up-to-date, but in general, it should have most of the icons present on http://materialdesignicons.com/
If I understand the issue correctly you're looking for the Palette icon

[2019-07-04 09:39] Sendoo commented on #16
Missing icons in 0.2.26+ version.
`import 'mdi-vue/CommentAlertIcon'` - don`t work.
Folder this package in node_modules is almost empty(no icon).

[2019-07-04 10:05] therufa commented on #16
@Sendoo Thanks, i have made a mistake with the last publish. it's fixed now.

[2019-07-04 10:05] #16 closed

[2019-07-31 06:09] therufa commented on #6
I updated the package recently, and now this issue should be obsolete. Please reopen if it's still the case

[2019-07-31 06:09] #6 closed

[2019-08-22 09:45] vintprox opened #19 "Export functional components instead"
Can we agree on that icons have no reactive state in most situations? So they should be exported as [functional components](https://vuejs.org/v2/guide/render-function.html).
It reduces rendering time a bit.

This change requires:
- all `<template>` tags to be replaced with `<template functional>`,
- add `functional: true` to each non-SFC object representing icon component,
- address all props via

[2019-08-29 18:07] jstgermain commented on #19
It would be very useful to have sizing props that actually worked. In the code, there is width, height, and viewBox.

`export default {
  name: 'mdi-${name}',
  props: {
    width: {
      type: [Number, String],
      default: 24
    },
    height: {
      type: [Number, String],
      default: 24
    },
    viewBox: {
      type: [String],
      default: '0 0 24 24'
    },
    xmlns: {
      typ

[2019-08-29 18:12] jstgermain opened #20 "Make sizing the icons work"
It would be very useful to have sizing props that actually worked. In the code, there is width, height, and viewBox.

[code]

however, setting these does now work as expected...

[code]

Instead of changing the size, it just cuts off the icon.

When I inspect the code, and change the `view-box` to `viewBox`, the icon then changes to the width and height that I want it to be. Something is wrong wit

[2019-08-29 18:14] jstgermain commented on #11
How was this solved? I need them smaller.

[2019-08-29 18:51] therufa commented on #20
Hi @jstgermain, thanks for sending your remarks. I'll look into this issue.

[2019-08-29 18:54] therufa commented on #19
Hi @vintprox thanks for the recommendation. I'll take a look at what I can do for you regarding this

[2019-08-29 19:10] jstgermain commented on #20
From what I can see, the issue is in the JS files. I am specifically calling the map-marker icon.

[code]

if it is changed to the code below, it works
[code]

[2019-08-29 19:23] jstgermain commented on #20
@therufa it might actually even be something that is being built and may not be fixable on your end.

[2019-08-30 05:28] #20 closed

[2019-08-30 09:44] therufa opened #22 "Concurrency control for build"
https://github.com/therufa/mdi-vue/blob/1fd37ac3ca9462cf1576e14c19e926bece909329/build.js#L61

Limit the number of simultaneously open files during build

[2019-08-30 21:24] #22 closed

[2019-08-30 21:28] therufa commented on #20
@jstgermain it turns out, there was a "typo" all along in the code, which is now fixed thanks to @DDeBruler it should work after a package update.

[2019-08-30 21:48] therufa commented on #19
i've just released a new version with functional components. Let's hope I didn't break anything :D

[2019-08-30 21:48] #19 closed

[2019-08-31 06:25] therufa commented on #20
@jstgermain I just realized that it's not required to set the viewBox of the icons in order to resize them. it's enough if you reduce the height and/or width of them.

[2019-08-31 13:38] jstgermain commented on #20
@therufa correct, it shouldn't need viewBox set. I don't know if there is something on your end that can fix it, or if it is something that is actually to do with MDI itself. There is a setting in the JS files for the icons that is `"view-box..."` That is what seems to be making the size not work.

[2019-09-07 20:45] Marivaldi opened #23 "Support custom classes on icons"
Since switching the template to be functional, the icon components can no longer accept a custom class on its containing element. Currently the only way to change the color of an icon is to wrap it in another element and give that element the desired CSS color. It would help reduce the number of DOM elements required if you could add a class directly to the span.

`<span :class="['mdi', 'mdi-${nam

[2019-09-08 05:57] therufa commented on #23
@Marivaldi thanks for your effort of opening the issue. I'll add this change to the next patch

[2019-09-08 06:27] therufa commented on #23
I've released a new patch with the version number v1.2.1

[2019-09-08 06:27] #23 closed

[2019-09-11 07:38] vintprox opened #24 "Maybe utilize shadow DOM for repetitive icons?"
Repetitive inline SVGs scattered all over the page can seriously affect the performance. Let's say, the example behind that can be list with >100 entries, and each has kind of 3 icons. Every time we add more entries, page is being repainted: now imagine directly injecting each icon, especially complex one, into DOM.

Inlined elements of SVG icons that were not intended to be changed individually w

[2019-09-11 07:53] vintprox commented on #24
Hopefully, now when I thought of that twice, I actually can already include each icon once, add it to root template, and reference to this icon with SVG via `<use>` tag.
Hence my proposal has no use, if there is simple solution already 😁

[2019-09-11 07:53] #24 closed

[2019-09-11 13:27] therufa commented on #24
Actually, @vintprox thanks for the idea. The thing is that optimizing crossed my mind a few times already, but you gave me an idea.

Also why referencing a single import didn't happen yet is because of the immense size of the icon set, which I believe is somewhere in the neighborhood of 1.5 MB compressed. Tree shaking is also something that is not working reliably (at least it wasn't last time I c

[2019-09-11 18:31] vintprox commented on #24
No problem, @therufa, and I won't really mind if it's the issue of low priority, because workaround is THAT simple, tho it took me another writing to figure it out 😂

[2019-10-02 19:20] josephfh opened #26 "Nuxt.js importing needs .vue extention"
Using the latest version of Nuxt.js

`import HookIcon from 'mdi-vue/Hook'`
doesn't work, whereas this does:
`import HookIcon from 'mdi-vue/Hook'.vue`

Could be worth making a note if this is working in normal Vue.js. Thanks!

[2019-10-02 20:40] josephfh opened #27 "SVG <title> suggestion"
The svgs inside each icon's vue components have a title attribute:
`<title>MDI instagram</title>`

I'd like to use these icons inside a link, without the SVG title being used by the browser. I.e.
`<a href="#" title="Inbox"><email-icon /></a>`

Seeing as the icon name is unlikely to be the best wording, it might be better to omit the <title> attribute from the svg altogether.

[2019-10-02 20:53] josephfh commented on #27
Pull request for your consideration: https://github.com/therufa/mdi-vue/pull/28

[2019-10-02 21:46] therufa commented on #27
Thanks for the input. I merged this by accident though, because the user should have the option to add titles if required. Anyways! Thanks for the changes! They'll be out tomorrow.

[2019-10-02 21:46] #27 closed

[2019-10-02 21:48] therufa commented on #26
@josephfh thanks for your effort i'll take a look at this when possible. If you have any spare time though, I'm happy to accept guesses or fixes of any sort :D

[2019-12-12 20:41] timhoeppner opened #30 "Can't style icons with class attribute"
I'm unable to style an icon by passing a class to the component.

[code]

The resulting `<span>` will not include "active".

Appears this is because you are using functional templates. You could however still accept a class attribute and merge it with the other classes defined.

I've worked around this by wrapping the icon component but would be nice if I didn't have to.

[code]

[2019-12-13 10:17] therufa commented on #30
Hi @timhoeppner, thank you for your remark. I have just released a new version (`1.3.0`) with this addition. Could you give me feedback on it?

[2019-12-13 13:42] timhoeppner commented on #30
@therufa Well that was quick! Looks like its working great, thanks!

[2019-12-13 13:44] #30 closed

[2019-12-13 13:46] timhoeppner commented on #26
I'm using Nuxt and this isn't an issue for me, I can import without the extension.

[2020-01-19 20:49] therufa commented on #26
I don't see this as an issue anymore. We have each file now in the form of a single-file component and compiled to js. Basically you can just import it as stated in the docs, or with the `*.vue` extension

[2020-01-19 20:49] #26 closed

[2020-01-21 03:43] chriscalo opened #32 "Default rendering of icons is too tall"
Say we have the following `<template>`:

[code]

The icon renders roughly the following markup:

[code]

Unfortunately, the icon doesn't end up being 20×20 in size. It ends up slightly larger in height. The `<svg>` element has the correct dimensions, but the containing `<span>` ends up being a little taller at `23px`.

![image](https://user-images.githubusercontent.com/867717/72773216-631a6080-3bd

[2020-01-21 07:33] therufa commented on #32
Hi @chriscalo,
Thanks for your remarks and the recommendation for improvement! I'll take a look at this issue and get back to you ASAP.

[2020-01-21 14:18] chriscalo commented on #32
Thanks, @therufa. Don't rush on my account. I have a simple enough workaround in place and just wanted to suggest an improvement.

It's probably worth thinking through the implications like:

- how easily can this be overridden or turned off?
- backwards compatibility: upon upgrading, might people see the new layout behavior as "something broke"?

[2020-02-29 12:35] therufa commented on #32
Hi @chriscalo ,
I took your solution to the problem and added the styles you suggested to `icons.css`. It should be available now in version 1.4.5 of the package.
Thanks for your contribution and your patience 😅

[2020-02-29 12:55] #32 closed

[2020-03-01 03:56] chriscalo commented on #32
Thanks for the quick fix!

[2020-03-01 04:12] chriscalo commented on #32
I just noticed that you added both CSS rules. From my brief testing a month ago, I think only one of the two is needed.

Related question: It appears the CSS isn't included by default. Is it a bad idea to apply these style fixes for all users of the library for any reason? I was thinking it might work to include a `<style src="./path/to/icons.css"/>` in `template.js`. Thoughts?

[2020-03-26 14:41] pebly opened #36 "Add TypeScript definition file"

[2020-03-27 19:33] therufa commented on #36
hi @pebly
this is actually something i wanted to add for a while now. Even though you've closed the issue, it's a fair point, so thanks for bringing this up ;)

[2020-03-28 11:27] pebly commented on #36
hi @therufa
cool, I am looking forward for this. I closed this because I succeeded using your module with TypeScript even without definition file.

[2020-04-02 00:02] A-ZC-Lau opened #37 "Any props available?"
I was wondering if there were any props like `size` or `fillColor` available. This package seems like a more up to date version of [this](https://www.npmjs.com/package/vue-material-design-icons), but without the ability to use props

[2020-04-02 06:27] therufa commented on #37
hi @A-ZC-Lau
right now we don't have `size` and `fillColor` props (although the color is determined by the container's css `color` attribute; meaning you can color icons like you would any text using css).
For size there's `width` and `height` as props but if you have something more specific in mind, please let me know

[2020-04-02 11:49] A-ZC-Lau commented on #37
That's cool, maybe you could make a small update to the documentation to note these capabilities?

[2020-04-21 08:11] rheddi02 opened #38 "any props to make the loader spinning?"
as the title says, or maybe I just don't know what to put to make it spinning. Thank you

[2020-04-21 14:42] therufa commented on #38
hi @rheddi02,
I'm not sure if i can follow you on this. which icon do you mean by this.
Also, please keep in mind, that this library only provides svg icons.

Maybe you're looking for something like these spinners https://github.com/Saeris/vue-spinners?

cheers!

[2020-04-25 11:22] NomNes commented on #38
@therufa I think @rheddi02 means the "spin" property for adding animation to any icon (like FA icons)

[2020-04-25 20:24] therufa commented on #38
@NomNes thanks, that's actually a great idea for a feature. i'll give it some thought

[2020-04-25 21:04] therufa commented on #38
@rheddi02 so, if what you meant with this was what @NomNes is suggesting, then v1.5.0 should be having this feature.
Just add the `spin` property to the desired icon, and it will make it spin around.
The spin property is a boolean value, which defaults to false.

[code]
or:
[code]

I hope this does the job. Thanks to you both!

[2020-04-25 21:04] #38 closed

[2020-05-12 22:40] #37 closed

[2020-05-12 22:40] #36 closed

[2020-06-19 15:36] SimonFricker opened #39 "Icon not found"
This dependency was not found: ClipboardEditOutline.vue

`import ClipboardEditOutlineIcon from 'mdi-vue/ClipboardEditOutline.vue'`

MDI Icon link https://materialdesignicons.com/icon/clipboard-edit-outline

[2020-06-21 08:14] therufa commented on #39
Hi Simon, thanks for reporting this issue. I see this [icon was added to material design icons](https://github.com/Templarian/MaterialDesign/issues/5214#issuecomment-640090537) after the last update of this lib.
Should be up-to-date in a few minutes :)

[2020-06-22 05:43] therufa commented on #39
It's been deployed, you can update now. Thanks for your patience :)

[2020-06-22 13:02] SimonFricker commented on #39
@therufa thanks for the reply.

I updated the package `"mdi-vue": "^1.6.3",` however Vue still fails to compile because it can not find the icon `mdi-vue/ClipboardEditOutline.vue`

[2020-06-22 14:15] therufa commented on #39
@SimonFricker I'm afraid my hands are tied on this; like many other similar libraries this one uses [Templarian/MaterialDesign-JS](https://github.com/Templarian/MaterialDesign-JS) to generate all the icons.
After a little investigation, I have noticed that it's out of date. To speed up the process I'll open an issue over there.

(Take a look for yourself, `ClipboardEdit` is missing completely
http

[2020-07-14 14:39] peet86 opened #41 "IE11 Support"
Please add support for legacy - but still in use - browsers like IE11. Currently the library throws syntax error in IE11. It seems something is off in mdi-vue/browser-c94fd32b.js

[2020-07-14 16:26] therufa commented on #41
oh no! what a nightmare! thanks for reporting this issue, I'll get to it ASAP

[2020-07-14 19:13] peet86 commented on #41
Ohh, thank you Sir, you are very kind Sir!

[2020-07-21 07:54] therufa commented on #41
So after a little investigation, it seems that the issue lays in the build tools we have. A proven solution would be to include the vue icon components instead of the transpiled ones. Meaning, you should import files using the `.vue` extension as in `Cog.vue` or `Home.vue` etc.
This is the best I've found, for now.

[2020-08-04 19:47] therufa commented on #39
Just pushed a release with some new icons @SimonFricker. I hope still in time 😅

[2020-08-04 19:47] #39 closed

[2020-08-16 04:22] EqualMa opened #42 "Major version should be incremented when @mdi/js major version changes"
When I update `mdi-vue` from [`1.4.3`](https://github.com/therufa/mdi-vue/tree/v1.4.3) to [`https://github.com/therufa/mdi-vue/tree/v1.6.4`], my build breaks because of the `GithubBox` icon is no longer available.

Then I look into the `@mdi/js` versions, I found it upgrades from [`4.7.95`](https://cdn.materialdesignicons.com/4.7.95/) to [`5.4.55`](https://cdn.materialdesignicons.com/5.4.55/), so

[2020-08-16 18:44] therufa commented on #42
hi @EqualMa,
thanks for your remarks I didn't think of this, but you're right. I'll take this into account next time I make a dependency update.
In case you have any recommendations for a system or anything, please don't hesitate to add your thoughts.

[2020-08-30 17:42] robertfausk opened #43 "Can't style icons with :class attribute"
I'm unable to style an icon by passing a :class to the component.

[code]

The resulting `<span>` will not include "active".

This seems to be related to #30

[2020-09-22 04:33] layanto opened #44 "Support for Vue 3"
Does this work with Vue 3? I think Vue 3 has removed support for functional template/component.

[2020-09-22 10:04] therufa commented on #44
Thanks for bringing this up! It seems it does break with vue 3 therefore it should be moved to plain components or something else. Sadly I have limited time during the upcoming weeks, so this might take a little longer to implement.

[2020-10-02 20:28] TomerPacific commented on #43
@therufa , I'd like to help (if it is still needed). Some guidance will be appreciated.

[2020-10-04 00:11] therufa commented on #43
hi @TomerPacific , thanks for the interest in the project.
The issue is rather small, so I believe that something like `:class="data.staticClass || ''"` is missing on the component template next to where attributes are bound to the component.

[2020-10-05 20:50] TomerPacific commented on #43
@therufa , thanks for that clarification.
I have made the change and have opened a PR.

[2020-10-15 22:01] HunterJS-bit commented on #44
@therufa
The template.js has to be converted to support Vue 3 syntax, in Vue 3 `functional` attribute is removed from template
Here is a guide how: https://v3.vuejs.org/guide/migration/functional-components.html#_3-x-syntax
I could try to work on this if you want ?

[2020-12-25 10:31] #44 closed

[2020-12-25 10:32] #41 closed

[2020-12-25 10:33] #43 closed

[2020-12-26 11:40] therufa commented on #42
Since i've changed how the lib behaves, this became irrelevant.

[2020-12-26 11:40] #42 closed

[2021-01-24 18:22] chaptergy opened #47 "Document icon naming or allow different names"
Basically the same issue as #3. Knowing how to use icons with multiple words (e.g. `arrowBack`) would be great.

An alternative would be to automatically remove all dashes and replace the following character with an uppercase one. This way using the name displayed on materialdesignicons.com works.

Thanks for your effort!

[2021-01-25 08:04] therufa commented on #47
Hi @chaptergy,
thanks for bringing this up! The issue seems to be that it's not clear what the naming convention of the icons is if I'm not mistaken. The answer for this is rather simple, the icon names must be provided in _camelCaseStyle_ although the point you made about _snake-case_ makes more than sense.

So basically we could address the icons with the same syntax as we have them on materiald

[2021-01-25 08:49] chaptergy commented on #47
Yes, exactly. Just documenting the naming convention would be enough.

However if there is enough time allowing snake case would be an even better option, since the user can copy the name directly, yes. But this should probably only be in addition to camelCase or PascalCase, because changing it outright would break a lot of apps. Then the new additional snake-case parser could only be called if th

[2021-03-01 09:27] Zony-Zhao opened #48 "vue 3 can not make kebab-case named icons work"
I managed to use`<mdicon name="account" />` , but failed at both `<mdicon name="format-text" />` and `<mdicon name="format-Text" />`

[2021-03-01 11:24] therufa commented on #48
Hi @Zony-Zhao, thanks for pointing this out. Even though this is not a bug it's very inconvenient.
You see, in https://github.com/Templarian/MaterialDesign-JS/blob/master/mdi.js the names are camelCase therefore the name prop should be camel case as well, meaning that `<mdicon name="formatText" />` should work. (See  https://github.com/therufa/mdi-vue/blob/master/main.js#L19)

I'll add a patch soo

[2021-03-01 13:44] therufa commented on #48
@Zony-Zhao I released an upgrade, now it should work now with the format you've tried initially.

[2021-03-01 13:44] #48 closed

[2021-03-03 05:04] Zony-Zhao opened #49 "Can't make some icons work."
### package.json(vue3)
![image](https://user-images.githubusercontent.com/50739849/109755395-e3592500-7c20-11eb-9957-b02ccea08a9d.png)

### code
![image](https://user-images.githubusercontent.com/50739849/109755419-f10eaa80-7c20-11eb-8d68-3dc54d786439.png)

### related icon
![image](https://user-images.githubusercontent.com/50739849/109755439-f79d2200-7c20-11eb-9715-f044aa732d8b.png)

### What I g

[2021-03-03 05:05] #49 closed

[2021-03-03 05:06] Zony-Zhao commented on #49
Never mind, it's a stupid copy-paste from mdi-js. Everything works without that mdi in the front!

[2021-03-03 13:10] philippedasilva-orizone opened #50 "Vue named property import on Vue3 generates a compilation warning"
Environment used:
* nodejs v14.15.5
* Vue v3.0.0

As per v2.2.1, we can note after a fresh install the following compilation warning on a fresh new install:
[code]

This is pointing specifically to the `main.js` file where we can see the current implementation to support both Vue 2.x and Vue 3.x using the same package.

Any idea how to prevent that? I'm more than happy to help fixing that but I ha

[2021-03-03 16:39] therufa commented on #50
hi @philippedasilva-orizone,
thanks for reporting this issue.
I proposed a potential fix for the problem you've described. I had to change the import of vue 3's render function, I want to test it before I make a new release though.
In the meantime if you want to make the warning disappear, you could just replace the index.js in your local `node_modules/mdi-vue` folder with the one in the current m

[2021-03-04 02:51] philippedasilva-orizone commented on #50
Hi @therufa,

Thanks for the quick reply. I just did what you suggested and both options (simple replacement of the `main.js`file or the entire master branch received the same result on my end:
[code]
I'm falling back to the v2.2.1 release for the time being but I'd be more than happy to help. I believe it is just a matter of safely testing whether Vue is actually defined or not... Or even better,

[2021-03-05 07:58] philippedasilva-orizone commented on #50
I made a quick pull request with an approach that prooved to work on my system using either vue js 2 or 3. Let me know if the approach (a little bit "hacky") satisfies your guidelines as I didn't find any on the repository ;)

[2021-03-12 10:39] therufa commented on #47
I'm closing this issue, since the lib does now accept names in multiple formats.

[2021-03-12 10:39] #47 closed

[2021-03-20 07:46] robertfausk opened #52 "Add possibility to use object for property "name""
It would be nice if the following is working:
[code]
but it throws ```Invalid prop: type check failed for prop "name". Expected String with value "[object Object]", got Object```.

Currently i depend on following workaround:
[code]

[2021-03-20 07:51] robertfausk opened #53 "Add possibility to use object for property "size" (additionally to Number and String)"
It would be nice if the following is working:
[code]
but it throws ```[Vue warn]: Invalid prop: type check failed for prop "size". Expected Number, String, got Object```.

Currently i depend on following workaround:
[code]

[2021-03-20 07:55] robertfausk opened #54 "Add possibility to use object for property "class""
It would be nice if the following is working:
[code]
but it is just simply ignored.

Currently i depend on following workaround:
[code]

[2021-03-20 14:31] therufa commented on #54
Hi @robertfausk, thanks for reporting this issue. Could you please provide a little more detail on which version of vue you've been using?

[2021-03-20 14:36] robertfausk commented on #54
Of course :)
I am using ```"mdi-vue": "2.2.0"``` and ```"vue": "2.6.12"```.
Same for #52 and #53

[2021-03-22 09:17] therufa commented on #52
hi @robertfausk,
Danke, danke for opening this issue :)

I've given it some thought, and I came to the conclusion that the problem is actually solvable using the ternary operator `?:` in order to differentiate between the two names.

Here's a working example of this:

[code]

The object notation would make sense though if the component would display multiple icons at the same time, but it's not de

[2021-03-22 09:17] #52 closed

[2021-03-22 09:24] therufa commented on #53
see more at issue #52

although this seems to make more sense, I find it a little bit misleading. The fact that we're speaking of an object here would indicate that this property could have multiple true values which makes no sense in the context of this component.

Therefore I think that the issue you've demonstrated is being solvable by introducing a condition with the intended values.

Same her

[2021-03-22 09:24] #53 closed

[2021-03-22 09:29] therufa commented on #54
@robertfausk i've just released a fix for this with v2.2.3 on npm.

Feedback is highly appreciated. Keep up the good work! :)

[2021-03-25 13:39] therufa commented on #50
Since the warning seems to be gone in the latest release, I'm closing this issue. Please reopen in case I missed something.

[2021-03-25 13:39] #50 closed

[2021-04-02 18:00] ataylor32 commented on #54
I'm getting this warning in v2.2.3, but not v2.2.2:

[code]

[2021-04-13 07:42] larescze commented on #54
Same problem with vue ^3.0.5.

[2021-04-13 14:06] martinkruusement opened #55 "[Vite] 'require is not defined' after build"
Not sure if this is an issue with my `vite.config.js`

 I did try to get Vite to transpile the package to an ES Module with no luck:
[code]

Output of the production build:
[code]
`Uncaught ReferenceError: require is not defined at main.js:4`

[2021-04-13 21:42] therufa commented on #55
Hi @martinkruusement,

thanks for taking the time for reporting this issue. Sadly Vite does not support require statements, therefore the library will not work with this lib, yet.

Any ideas and contributions are welcome though :)

[2021-04-15 20:11] therufa commented on #55
@martinkruusement, I released a new version of the library just a moment ago which should support vite as well. I'd feel honoured if you'd provide a little feedback.

The lib needs to be included a little differently now:
[code]

[2021-04-15 20:13] therufa commented on #54
hey @larescze and @ataylor32,
I've updated the lib to a new major version due to a few breaking changes, but the warnings should be gone now. The import path changed though, so you'd need to import the lib as follows: `import mdiVue from 'mdi-vue/v2'`

[2021-04-15 20:27] larescze commented on #54
I just checked it out and the warnings no longer appear. Great work!

[2021-04-15 20:53] therufa commented on #54
Thanks! :) closing this issue then

[2021-04-15 20:53] #54 closed

[2021-04-16 00:57] martinkruusement commented on #55
Making progress 👍

Installation complains about:
[code]

Forcing it with `--legacy-peer-deps` gets everything to work in development again.

However, build now breaks at:
[code]

I see you're using `vue^2.6.12`. Could this be the problem?

[2021-04-16 06:03] therufa commented on #55
well, the peer dependency is obviously wrong. not sure how to manage the package for both versions. maybe we can just leave it away completely? the version of the main project should be sufficient 🤔 (just thinking out loud)

[2021-04-16 14:11] martinkruusement commented on #55
Hmmm. I think we are safe to assume that some version of Vue is already installed if someone wants to use this package.

[2021-04-16 14:15] martinkruusement commented on #55
I looked at how `vuex` does this.

They have the `vue` package listed in `peerDependencies` as well as `devDependencies`, but not in actual `dependencies`.

[2021-04-16 14:17] therufa commented on #55
good call, just released a version with these changes. Thanks for your efforts!

[2021-04-16 16:54] martinkruusement commented on #55
It works! Thank you.

Never knew you could use an asterisk in `package.json` as a version. That's a clever solution.

I discovered there's also a package called `vue-demi` that may help simplify the current v2/v3 setup and abstract away the importing of the render function.

[2021-04-16 16:54] #55 closed

[2021-04-16 21:05] therufa commented on #55
Thanks for the hint! This `vue-demi` project seems promising. Maybe one day we can transition back to just having a single file to import, but for now we're at least running fine :) Thanks again for your efforts @martinkruusement ;)

[2021-04-27 10:27] nekvinder opened #56 "'class' property access warning for ts with vue 3"
Using vue3 + ts, the console shows warning for 'class' prop, not defined but used in the template.

[2021-05-05 08:09] therufa commented on #56
thanks for the fix @nekvinder ! The release should be out now

[2021-05-05 08:09] #56 closed

[2021-05-05 18:29] nekvinder commented on #56
Cool, welcome :)

[2021-05-18 20:27] larescze opened #60 "Vue 3: Class binding is not working"
Since version ^3.0.7 class binding is not working.

No problem for version 3.0.5.

[2021-05-20 09:13] therufa commented on #60
Thanks @larescze for reporting this issue, it's most likely due to the class property which was added with the goal to resolve some TS related warnings.

[2021-05-28 10:32] zatsunen opened #61 "vue3+typescript cannot be used"
main.ts prompt: "MDI: Icon mdi-vue not found"

main.js :
import mdiVue from 'mdi-vue/types/v3'
import * as mdiJs from '@mdi/js'

createApp(app)
  .use(mdiVue, { icons: mdiJs })

build output:
This dependency was not found:

* mdi-vue/types/v3 in ./src/main.ts

To install it, you can run: npm install --save mdi-vue/types/v3

[2021-06-02 15:17] larescze commented on #61
Or you can declare the module in the **shims-vue.d.ts** file or other .d.ts file.

```declare module 'mdi-vue/v3'```

Example **shims-vue.d.ts**:
[code]

[2021-06-08 08:06] zatsunen commented on #61
Excellent,thank you so much

[2021-06-08 08:06] #61 closed

[2021-06-11 19:51] BryceBarbara commented on #60
In the code [here](https://github.com/therufa/mdi-vue/blob/master/src/shared.js#L35), you'd just need to include the class property along with the staticClass property.

[2021-07-02 02:14] InvenTorrey opened #62 "setting color"
I don't see any clear way to define things like colors or add styles to this?  Is there a way to add a class prop to be able to further define how it looks?

[2021-07-02 02:20] InvenTorrey commented on #62
nevermind, i see i can just wrap it and set a class style to that.  would still be nice to be able to set it directly onto the component

[2021-07-03 10:33] akibrk opened #63 "Typescript support"
Having issues registering using Vue 2 typescript template. Seems there are types defined but not in the `package.json` file. It would be great if you could help with that.

[2021-07-05 22:11] #63 closed

[2021-07-10 18:34] Sendoo opened #64 "Error Nuxt in SSR mode"
### Versions

- nuxt: v2.15.6
- node: v14.17.3 LTS

### Problem
Hi✌

If you run the plugin with the following code:

[code]

Then we get this error:

![изображение](https://user-images.githubusercontent.com/46229254/125172991-612bcf00-e1c5-11eb-9f9b-0b01d45dc911.png)

If you run the plugin in client mode, then there is no error.
But there is a big delay in displaying icons.

[2021-07-10 18:55] Sendoo commented on #64
It seems that it turned out to run 🙂
When using Nuxt.js, `mdi-vue` should be added to the transpile build option in nuxt.config.js:

[code]

Maybe you should add this to your plugin documentation?

[2021-07-12 07:22] therufa commented on #64
Thanks for the addition @Sendoo, fair point :)

[2021-07-12 08:14] #64 closed

[2021-08-09 04:17] adarshmadrecha opened #65 "Tree shaking icons using Vite"
Since we are using the
`import * as mdijs from '@mdi/js'` in below initialization, all the icons are imported.
Is it possible to enable tree shaking so that only the icons which are used are bundled?

[code]

[2021-08-09 12:27] therufa commented on #65
hi @adarshmadrecha, the feature you're mentioning is already a feature of most build tools available, so to utilize this you just need to import the desired icons by name.

[code]

It might seem a bit redundant, but it's the cleanest solution I know of. Once the icons are imported, you can use them as in the examples.

OFF: Also, here's a handy tool for searching icons: https://therufa.github.io/m

[2021-08-09 12:27] #65 closed

[2021-08-09 12:44] adarshmadrecha commented on #65
Actually, I was looking for something like Vuetify, Element Plus. They import fully, but at Build time the tree shaking removes components which are not Used.

[2021-08-09 14:53] therufa commented on #65
Thanks for the hint, your input is much appreciated

[2021-08-22 22:50] EmBeaux opened #66 "Object(...) is not a function when loading mdicon"
I am trying to utilize `<mdicon name="react" />`, as per the readme, and upon render of the Icon I get a full screen error stating `Object(...) is not a function`.

Vue Plugin
[code]

nuxt.config.js
[code]

Template in Vue Component
[code]

I am importing nothing in the Vue `script` tags because I figured the plugin would take care of that.

![image](https://user-images.githubusercontent.com/43078

[2021-08-23 23:16] EmBeaux commented on #66
Solved this by changing my plugin import to utilize v2 instead of v3. This was a mistake on my end. Resolved.

[code]

[2021-08-23 23:16] #66 closed

[2021-08-30 20:34] m4rcTr3y opened #67 "builld is too big"

[2021-08-30 20:49] therufa commented on #67
hi @m4rcTr3y,

to me it seems that you import all the icons, but sadly the bundler can't shake off unused ones. In order to reduce the build, you could include only the specific icons you use in your build. A bit less convenient, but to my knowledge, it's the only way to deal with this issue in this setup.

so instead of going with:
[code]

you could try this:

[code]

I hope this solves your issu

[2021-10-23 09:44] SuperCuber opened #68 "Can't import in Vite vue 3 typescript"
I installed like in the example, and have the following in my package.json:
[code]

Then I put this in my `src/main.ts`:
[code]

The mdijs line works fine, but typescript complains "could not find a declaration file" for mdi-vue, and when I try to run it says `import not found: default` in the browser console.

Am I doing something wrong?

[2021-11-15 03:43] loxK commented on #67
@therufa Hi. So what is the point of importing at `createApp` stage ? Isn't it better to import in each component where the icons are used to take advantage of features like [code splitting](https://v3.vuejs.org/guide/ssr/routing.html) ?

[2021-11-15 08:37] therufa commented on #67
Hi @loxK, The main reason to moving everything to the init state was to reduce the build size of this package. Before we were close to 20Mb which I didn't feel comfortable with (even though this wouldn't translate to the end product) serving several thousand times a month.
The explicit import serves the sake of code splitting, since the `@mdi/js` lib is basically just one large file with all the p

[2021-11-15 13:13] #68 closed

[2021-12-14 04:34] Zony-Zhao commented on #65
This is not tree shaking though...
My code:
![image](https://user-images.githubusercontent.com/50739849/145933585-0346bcf0-c1c7-4838-83c1-30b5eb1c2ca2.png)
My build with webpack --report:
![image](https://user-images.githubusercontent.com/50739849/145933645-d69ef65b-925e-4439-9833-ca629050b801.png)

[2021-12-14 05:42] Zony-Zhao commented on #67
![image](https://user-images.githubusercontent.com/50739849/145939874-d8c21c57-695d-4f60-827a-51cc742f9068.png)
I still have a huge mdi bundle. Is there anything I'm missing?
![image](https://user-images.githubusercontent.com/50739849/145939920-418de4d2-95ea-4219-bd3b-5d609a4d9d8c.png)

[2022-01-07 02:18] nadirabbas commented on #67
@Zony-Zhao When you build the project, it will be smaller.

[2022-03-31 13:37] adisaro commented on #67
hi, doesn't look like it sadly, i used the webpack-bundle-analyzer as @Zony-Zhao did and even when i build the package the output it's the same (it shows that map if you start the dev server but also when you build the package)

[2022-07-16 11:18] innovaweb-dev commented on #62
@DaveTorrey , Be patient or make a pull request
You can also read #37

[code]

[2022-07-27 13:44] zenojunior commented on #62
While they don't add this prop, you can use other approach.

[code]

[code]

[2022-09-19 19:18] frederikheld opened #72 "💖"
This is not an issue, I just wanted to tell you how much I like to work with easy to use libraries like this one. After fiddling around with other icon libraries that I couldn't get to run in my Vue3 setup, yours took less than 5 minutes to be up and running.

Well designed, well documented, thanks a lot for your work!

Cheers, Frederik

[2022-09-19 19:26] therufa commented on #72
Hi Frederik, thanks for the kind words! I'm glad the lib is of use to you!